@model IEnumerable<NetCoreLinfolk.Data.Entities.Category>


<div class="row">
    <div class="col-md-12">
        <h2>Categories</h2>
    </div>

    @foreach (var c in Model)
    {
        <div class="col-md-4">
            <div class="padset-xss">
                <div class="border-grey background-lightgrey">
                    <div class="centered-block radius-box-xs padset-bottom-xs padset-top-xs">
                        <h2 class="text-center cancel-margin"><a href="#" class="cancel-decoration">@c.CategoryName</a></h2>
                    </div>
                </div>
            </div>
        </div>
    }
</div>